.cv-layout {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 1024px;
    border-color: #2e5496;
    border-style: solid;
    border-width: 6px;
    
}

.cv-header {
    background-color: #2e5496;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.user-name {
    color: white;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 40px;
    text-align: center;
}


.user-designation {
    color: white;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}


.cv-body {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-auto-flow:row;
    background-color: white;
    padding-left: 2.5%;
    padding-right: 2.5%;
    line-height: 1.6;
}
.left-section {
    padding-right: 2.5%;
}

.right-section {
    padding-left: 2.5%;
}



.cv-body li {
    color: #2e5496;
    font-size: 20px;
}

.cv-body span {
    text-align: left;
    line-height: 1.6;
    padding-bottom: 5px;
    font-size: 16px;
    color: black;
}

.cv-body p {
    padding-bottom: 3px;
    line-height: 1.6;
    font-size: 18px;
}


.cv-body h1 {
    display: block;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    color: #2e5496;
}

.cv-body h2 {
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    padding-top: 10px;
    color: #3a67b6;
}

.cv-body h3 {
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
    padding-bottom: 5px;
    color: #3a67b6
    /* padding-left: 12px; */
}




.personal-details {
    display: flex;
    flex-direction: column;
    /* padding-left: 25px; */
    padding-top: 10px;
    padding-bottom: 0px;
}

.personal-details img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.personal-details p {
    padding-left: 20px;
    line-height: 1.6;
    margin-right: 10px;
    text-align: left;
}


.call-icon, 
.mail-icon, 
.address-icon {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 1fr;
}

.web-icon {
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 600px;
}

.web-name {
    width: 23%;
    margin-right: 10px;
}

.web-link{
    width: 46%;
    margin-right: 10px;
}




.skills-section,.academic-section,.achievements-section, 
.objective-section, .experience-section, .certification-section,
.projects-section, .aboutme-section, .declaration-section p {
    padding-bottom: 0px;
    line-height: 1.6;
    text-align: justify;
    
}

.foot-section {
    background-color: #2e5496;
    height: 100px;
}

.foot-section  {
    /* margin: 40px; */
    flex-direction: row;
}