<div class="bodyDes">
    <div class="nevigation">
        <div class="header-logo">
            <img src="../../../assets/images/logo-DP.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <a><li>Home</li></a>
                <a><li>Services</li></a>
               <a><li>Blogs</li></a>
                <a><li>About us</li></a>
            </ul>
        </div>
        <div class="login">
            <button>Log in</button>
        </div>
    </div>
    <div class="center-block">
        
        <div class="service-sections">
            <div class="service-icon">
                <img src="../../../assets/images/icon-cv.png" alt="">
                <img src="../../../assets/images/portfolio-icon-bw.png" alt="">
                <img src="../../../assets/images/website-icon-bw.png" alt="">
            </div>
            <div class="service-button">
                <button>Resume</button>
                <button>Portfolio</button>
                <button>Website</button>
            </div>
        </div>
    
        <div class="registration-section">
            <h2>Registration</h2>
            <div>
            <p>Email :</p>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
            </div>
            
            <div>
                <p>Password :</p>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            </div>
            
            <button type="submit" class="registerbtn">Register</button>
        
        </div>
    </div>
    
</div>
